p, h1, h2{
  color: #131313;
  }
  body{
    background: #FFFCF7;
  }

  .topmenu{
  position: fixed;
  width: 100vw;
  padding-bottom: 5vw;
  background: #F76A1B;
  z-index: 1;
  left: 0;
  right: 0;
}
.topmenu_items{
  position: absolute;
  width: 90%;
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 5%;
  top: 32%;
}
.topmenu_items a{
  text-decoration: none;
  font-size: 18px;
  color: #131313;
}

.firstscreen_container{
  position: relative;
  width: 100%;
  height: 3.93533792%;
  background: #FE724D;
  margin-top: 4.7%;
  /* opacity: .5; */
  background: #FE724D;
  display: block;
  background-image: url('../images/plates cover.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  overflow: visible;
}
h1{
  font-size: 58px;
  font-weight: 700;
}
.firstscreen_container h1{
  font-size: 58px;
  font-weight: 700;
  width: 30%;
  position: absolute;
  top: 19%;
  left: 4.8%;
  /* left: 4.8%; */
  line-height: 105%;
  /* font-weight: bold; */
}
.firstscreen_container p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: 4.8%;
  top: 36%;

}
/* .plate1{
  position: absolute;
  display: block;
  width: 43.9583333%;
  height: 71.846765%;
  right: 4.8%;
  top: 6%;
  background-image: url('../images/plate1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
} */
#concept_container{
  position: relative;
  width: 100%;
  height: 5.08939552%;
  display: block;
}
.concept_title{
  font-size: 58px;
  font-weight: 700;
  width: 30%;
  position: absolute;
  top: 8.2%;
  left: 4.7%;
  /* left: 4.8%; */
  line-height: 105%;
}
.concept{
  position: absolute;
  /* background: red; */
  width: 48%;
  height: 25%;
  top: 16.5%;
  left: 4.9%;
  /* opacity: .5; */
}
.concept p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  line-height: 40px
}

h2{
  font-size: 40px;
  font-weight: 600;

}
.values{
  position: absolute;
  /* background: red; */
  width: 48%;
  height: 14%;
  top: 56.2%;
  left: 5%;
  /* opacity: .5; */
}
.values h2{
  top: -0.5%;
  position: absolute;
  left: -0.5%;

}
.values p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: 0%;
  top: 40.5%;
  width: 100%;
  line-height: 40px
}
.mission{
  position: absolute;
  width: 48%;
  height: 14%;
  top: 83.5%;
  left: 5%;
}
.mission h2{
  top: -2%;
  position: absolute;
  left: -0.5%;

}
.mission p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: 0%;
  top: 39%;
  width: 100%;
  line-height: 40px
}
#logostart_container{
  position: relative;
  width: 100%;
  height: 7.43070665%;
  /* background: blue;
  opacity: .5; */
}
#logostart_title{
  font-size: 58px;
  font-weight: 700;
  width: 30%;
  position: absolute;
  top: 5.7%;
  left: 4.8%;
  /* left: 4.8%; */
  line-height: 105%;

}
.logostart{
  position: absolute;
  width: 46%;
  height: 8%;
  top:11.3%;
  left: 4.8%;
}
.logostart p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  line-height: 40px
}
.logohalf{
  position: absolute;
  display: block;
  width: 10.6777778%;
  height: 20.2141901%;
  left: 4.8%;
  top: 19.1%;
  background-image: url('../images/logohalf.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.plus{
  position: absolute;
  display: block;
  width: 2.37986111%;
  height: 2.22623829%;
  left: 22.9%;
  top: 28.1%;
  background-image: url('../images/plus.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.logoempty{
  position: absolute;
  display: block;
  width: 20.9722222%;
  height: 21%;
  left: 35.6%;
  top: 18.8%;
  background-image: url('../images/emptyplate.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.equal{
  position: absolute;
  display: block;
  width: 2.37986111%;
  height: 1.78313253%;
  left: 63.6%;
  top: 28.4%;
  background-image: url('../images/equal.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.logofull{
  position: absolute;
  display: block;
  width: 20.9722222%;
  height: 25.2%;
  right: 5%;
  top: 18.5%;
  background-image: url('../images/logofull.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.ohrpole{
  position: absolute;
  width: 45%;
  height: 14%;
  top: 50.1%;
  left: 5%;

}
.ohrpole h2{
  top: -2%;
  position: absolute;
  left: -0.5%;

}
.ohrpole p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: -0.2%;
  top: 28%;
  width: 100%;
  line-height: 40px
}
.ohrpoleimg{
  position: absolute;
  display: block;
  width: 31.3888889%;
  height: 30.4551539%;
  left: 34.3%;
  top: 64.1%;
  background-image: url('../images/ohrpole.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.logoyellow_container{
  position: relative;
  width: 100%;
  height: 6.62189008%;
  /* opacity: 0.5; */
}
.usage{
  position: absolute;
  width: 45%;
  height: 14%;
  top: 6.6%;
  left: 5%;
  /* background: red;
  opacity: 0.5; */

}
.usage h2{
  top: -2%;
  position: absolute;
  left: -0.5%;

}
.usage p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: -0.2%;
  top: 29.2%;
  width: 100%;
  line-height: 40px
}
.usageimg1{
  position: absolute;
  display: block;
  width: 22.7777778%;
  height: 23.5%;
  left: 38.7%;
  top: 20.2%;
  background-image: url('../images/usage1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.usage2{
  position: absolute;
  width: 47%;
  height: 14%;
  top: 52.1%;
  left: 5%;

}
.usage2 p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: -0.2%;
  top: -03.1%;
  width: 100%;
  line-height: 40px
}
.usageimg2{
  position: absolute;
  display: block;
  width: 22.7777778%;
  height: 23.5%;
  left: 5%;
  top: 66.7%;
  background-image: url('../images/culture1.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.usageimg3{
  position: absolute;
  display: block;
  width: 22.7777778%;
  height: 23.5%;
  left: 38.5%;
  top: 66.7%;
  background-image: url('../images/culture2.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.usageimg4{
  position: absolute;
  display: block;
  width: 22.7777778%;
  height: 23.5%;
  right: 5%;
  top: 66.7%;
  background-image: url('../images/culture3.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.logorest_container{
  position: relative;
  width: 100%;
  height: 8.26790275%;
  /* background: blue;
  opacity: 0.5; */
}
.restrictions1{
  position: absolute;
  width: 45%;
  height: 9%;
  top: 6%;
  left: 5%;
  /* background: red;
  opacity: 0.5; */

}
.restrictions1 h2{
  top: 1%;
  position: absolute;
  left: -0.2%;

}
.restrictions1 p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: -0.2%;
  top: 40%;
  width: 100%;
  line-height: 40px
}
.restimg1{
  position: absolute;
  display: block;
  width: 21.25%;
  height: 20.708238%;
  left: 4.9%;
  top: 17.1%;
  background-image: url('../images/rest1.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.restimg2{
  position: absolute;
  display: block;
  width: 22.7777778%;
  height: 9.9542334%;
  left: 39.1%;
  top: 18.3%;
  background-image: url('../images/rest2.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.restrictions2{
  position: absolute;
  width: 45%;
  height: 4%;
  top: 45%;
  left: 5%;
}
.restrictions2 p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: -0.2%;
  top: -15%;
  width: 100%;
  line-height: 40px
}
.restimg3{
  position: absolute;
  display: block;
  width: 20.9722222%;
  height: 17.2768879%;
  left: 4.9%;
  top: 51.8%;
  background-image: url('../images/rest3.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.restimg4{
  position: absolute;
  display: block;
  width: 20.9722222%;
  height: 17.2768879%;
  left: 39.5%;
  top: 51.8%;
  background-image: url('../images/rest4.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.restrictions3{
  position: absolute;
  width: 45%;
  height: 2%;
  top: 75.67%;
  left: 5%;
}
.restrictions3 p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: -0.2%;
  top: -7%;
  width: 100%;
  line-height: 40px
}
.restimg5{
  position: absolute;
  display: block;
  width: 20.9722222%;
  height: 17.2768879%;
  left: 4.9%;
  top: 80.85%;
  background-image: url('../images/rest5.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
#colors_container{
  position: relative;
  width: 100%;
  height: 6.07794911%;

}
#colors_title{
  font-size: 58px;
  font-weight: 700;
  width: 30%;
  position: absolute;
  top: 8.2%;
  left: 4.7%;
  /* left: 4.8%; */
  line-height: 105%;
}
.colors{
  position: absolute;
  width: 45%;
  height: 2%;
  top: 72%;
  left: 5%;
}
.colors_container p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: -0.2%;
  top: -7%;
  width: 100%;
  line-height: 40px
}
.colors{
  position: absolute;
  width: 43%;
  height: 16%;
  top: 21.2%;
  left: 5%;
  /* background: red;
  opacity: 0.5; */
}
.colors p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: -0.2%;
  top: -42%;
  width: 100%;
  line-height: 40px
}
.palette_row{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  left: 5%;
  right: 5%;
  top: 27.9%;
  height: 14.7859922%;
}
.yellowcolor{
  height: 100%;
  width: 14.6604938%;
  background: #FFA700;
}
.orangecolor{
  height: 100%;
  width: 14.6604938%;
  background: #F76A1B;
}
.bluecolor{
  height: 100%;
  width: 14.6604938%;
  background: #5395FF;
}
.greencolor{
  height: 100%;
  width: 14.6604938%;
  background: #57A357;
}
.blackcolor{
  height: 100%;
  width: 14.6604938%;
  background: #131313;
}
.whitecolor{
  height: 99%;
  width: 14.6604938%;
  background: #FFFFFF;
  border-color: black;
  border: solid 1px;
}
.color_label1{
  position: absolute;
  width: 12.5%;
  height: 5%;
  top: 43.8%;
  left: 5%;
}
.color_label1 p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: -0.8%;
  top: -7%;
  width: 100%;
  line-height: 40px
}
.color_label2{
  position: absolute;
  width: 12%;
  height: 5%;
  top: 43.8%;
  left: 20.3%;
}
.color_label2 p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: -0.8%;
  top: -7%;
  width: 100%;
  line-height: 40px
}
.color_label3{
  position: absolute;
  width: 12%;
  height: 5%;
  top: 43.8%;
  left: 35.65%;
}
.color_label3 p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: -0.8%;
  top: -7%;
  width: 100%;
  line-height: 40px
}
.color_label4{
  position: absolute;
  width: 12%;
  height: 5%;
  top: 43.8%;
  left: 51%;
}
.color_label4 p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: -0.8%;
  top: -7%;
  width: 100%;
  line-height: 40px
}
.color_label5{
  position: absolute;
  width: 12%;
  height: 5%;
  top: 43.8%;
  left: 66.3%;
}
.color_label5 p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: -0.8%;
  top: -7%;
  width: 100%;
  line-height: 40px
}
.color_label6{
  position: absolute;
  width: 12%;
  height: 5%;
  top: 43.8%;
  left: 81.65%;
}
.color_label6 p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: -0.8%;
  top: -7%;
  width: 100%;
  line-height: 40px
}
.colors2{
  position: absolute;
  width: 45%;
  height: 16%;
  top: 64.5%;
  left: 5%;
  /* background: red;
  opacity: 0.5; */
}
.colors2 p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: -0.2%;
  top: -42%;
  width: 100%;
  line-height: 40px
}
.panel1{
  position: absolute;
  display: block;
  width: 23%;
  height: 26.5%;
  left: 4%;
  top: 70%;
  background-image: url('../images/panel1.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.panel2{
  position: absolute;
  display: block;
  width: 23%;
  height: 26.5%;
  left: 27%;
  top: 70%;
  background-image: url('../images/panel2.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.panel3{
  position: absolute;
  display: block;
  width: 23%;
  height: 26.5%;
  left: 50%;
  top: 70%;
  background-image: url('../images/panel3.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.panel4{
  position: absolute;
  display: block;
  width: 23%;
  height: 26.5%;
  left: 73%;
  top: 70%;
  background-image: url('../images/panel4.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.cat1{
  position: absolute;
  font-size: 18px;
  top: 96.2%;
  left:19.8%;
}
.cat2{
  position: absolute;
  font-size: 18px;
  top: 96.2%;
  left:44%;
}
.cat3{
  position: absolute;
  font-size: 18px;
  top: 96.2%;
  left:67%;
}
.cat4{
  position: absolute;
  font-size: 18px;
  top: 96.2%;
  left:89%;
}
#typography_container{
  position: relative;
  width: 100%;
  height: 4.55018447%;

}
#typography_title{
  position: absolute;
  font-size: 58px;
  font-weight: 700;
  width: 30%;
  left: 4.7%;
  top: 11%;
  left: 4.9%;
  line-height: 105%;
}
.typography{
  position: absolute;
  width: 48%;
  height: 12%;
  top: 20.1%;
  left: 5%;
  /* background: red;
  opacity: 0.5; */
}
.typography p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: -0.2%;
  top: -7%;
  width: 100%;
  line-height: 40px
}
.alphabet{
  position: absolute;
  width: 37%;
  height: 12%;
  top: 20.1%;
  right: 4.45%;
}
.alphabet p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: -0.2%;
  top: -7%;
  width: 100%;
  line-height: 40px
}
.typstyles{
  position: absolute;
  width: 45%;
  height: 15%;
  top: 42.7%;
  left: 5%;
}
.typstyles h2{
  top: 1%;
  position: absolute;
  left: -0.2%;
}
.typstyles p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: -0.2%;
  top: 45%;
  width: 100%;
  line-height: 40px
}
.zagolovok{
  position: absolute;
  left: 4.8%;
  font-size: 58px;
  font-weight: 700;
  color: #131313;
  top: 68.6%;
}
.zagolovok_size{
  position: absolute;
  left: 43%;
  font-size: 58px;
  font-weight: 700;
  color: #131313;
  top: 68.6%;
}
.zagolovok_x{
  position: absolute;
  right: 22.6%;
  font-size: 23px;
  font-weight: normal;
  color: #131313;
  top: 71.7%;
}
.podzagolovok{
  position: absolute;
  left: 4.7%;
  font-size: 48px;
  font-weight: 600;
  color: #131313;
  top: 78.5%;
}
.podzagolovok_size{
  position: absolute;
  left: 43.1%;
  font-size: 48px;
  font-weight: 600;
  color: #131313;
  top: 78.5%;
}
.podzagolovok_x{
  position: absolute;
  right: 23.9%;
  font-size: 23px;
  font-weight: normal;
  color: #131313;
  top: 81%;
}
.text{
  position: absolute;
  left: 4.9%;
  font-size: 23px;
  font-weight: normal;
  color: #131313;
  top: 87.6%;
}
.text_size{
  position: absolute;
  left: 43.1%;
  font-size: 23px;
  font-weight: normal;
  color: #131313;
  top: 87.6%;
}
.text_x{
  position: absolute;
  right: 24.24%;
  font-size: 23px;
  font-weight: normal;
  color: #131313;
  top: 87.7%;
}
.knopka{
  position: absolute;
  left: 4.9%;
  font-size: 21px;
  font-weight: 600;
  color: #131313;
  top: 94.6%;
}
.knopka_size{
  position: absolute;
  left: 43.3%;
  font-size: 21px;
  font-weight: 600;
  color: #131313;
  top: 94.6%;
}
.knopka_x{
  position: absolute;
  right: 22.5%;
  font-size: 23px;
  font-weight: normal;
  color: #131313;
  top: 94.6%;
}
#setka_container{
  position: relative;
  width: 100%;
  height: 22.2542806%;
}
#setka_title{
  position: absolute;
  font-size: 58px;
  font-weight: 700;
  width: 30%;
  left: 4.7%;
  top: 2.25%;
  left: 4.9%;
  line-height: 105%;
}
.setka1{
  position: absolute;
  width: 52%;
  height: 3%;
  top: 4%;
  left: 5%;
}
.setka1 p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: -0.2%;
  top: -0.5%;
  width: 100%;
  line-height: 40px
}
.setkaimg1{
  position: absolute;
  display: block;
  width: 59.3055556%;
  height: 11.4686825%;
  left: 20.35%;
  top: 7.5%;
  background-image: url('../images/setka1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.setka2{
  position: absolute;
  width: 48%;
  height: 3%;
  top: 21.2%;
  left: 5%;
  /* background: red;
  opacity: 0.5; */
}
.setka2 p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: -0.2%;
  top: 3.55%;
  width: 100%;
  line-height: 40px
}
.setkaimg2{
  position: absolute;
  display: block;
  width: 28.6805556%;
  height: 13.3909287%;
  left: 5%;
  top: 24.8%;
  background-image: url('../images/setka2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.setkaimg3{
  position: absolute;
  display: block;
  width: 44.0277778%;
  height: 13.6933045%;
  left: 35.7%;
  top: 22.54%;
  background-image: url('../images/setka3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.composition{
  position: absolute;
  width: 45%;
  height: 5%;
  top: 40.65%;
  left: 5%;
}
.composition h2{
  top: -0.5%;
  position: absolute;
  left: -0.5%;
}
.composition p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: -0.2%;
  top: 26.2%;
  width: 100%;
  line-height: 40px
}
.comp1{
  position: absolute;
  width: 45%;
  height: 3.5%;
  top: 46.8%;
  left: 5%;
  /* background: red;
  opacity: 0.5; */
}
.comp1 h2{
  top: -0.55%;
  position: absolute;
  left: -0.55%;
}
.comp1 p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: -0.2%;
  top: 38%;
  width: 100%;
  line-height: 40px
}
.compimg1{
  position: absolute;
  display: block;
  width: 28.6805556%;
  height: 13.3909287%;
  left: 5%;
  top: 50.75%;
  background-image: url('../images/comp1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.compimg2{
  position: absolute;
  display: block;
  width: 28.6805556%;
  height: 13.3909287%;
  left: 35.7%;
  top: 50.75%;
  background-image: url('../images/comp2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.comp2{
  position: absolute;
  width: 48%;
  height: 2%;
  top: 66.4%;
  left: 5%;
}
.comp2 p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: -0.2%;
  top: 0%;
  width: 100%;
  line-height: 40px
}
.compimg3{
  position: absolute;
  display: block;
  width: 59.3055556%;
  height: 18.4449244%;
  left: 5%;
  top: 65.98%;
  background-image: url('../images/comp3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.comp3{
  position: absolute;
  width: 48%;
  height: 2%;
  top: 83.37%;
  left: 5%;
  /* background: red;
  opacity: 0.5; */
}
.comp3 p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: -0.2%;
  top: 0%;
  width: 100%;
  line-height: 40px
}
.compimg4{
  position: absolute;
  display: block;
  width: 85.9722222%;
  height: 18.4449244%;
  left: 5%;
  top: 83.5%;
  background-image: url('../images/comp4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
#photo_container{
  position: relative;
  width: 100%;
  height: 9.7483682%;
  /* background: yellow; */
}
.photo_title{
  position: absolute;
  font-size: 58px;
  font-weight: 700;
  width: 30%;
  left: 4.7%;
  top: 5.1%;
  left: 4.8%;
  line-height: 105%;
}
.photo{
  position: absolute;
  width: 46%;
  height: 15%;
  top: 9.2%;
  left: 4.9%;
  /* background: blue;
  opacity: 0.5; */
}
.photo p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: -0.2%;
  top: -0.5%;
  width: 100%;
  line-height: 40px
}
.photo_row1{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  left: 5%;
  right: 5%;
  top: 21.3%;
  height: 19.8447356%;
}

.photoimg1{
  width: 31.558642%;
  height: 100%;
  background-image: url('../images/photo1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.photoimg2{
  width: 31.558642%;
  height: 100%;
  background-image: url('../images/photo2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.photoimg3{
  width: 31.558642%;
  height: 100%;

  background-image: url('../images/photo3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.photo_row2{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  left: 5%;
  right: 5%;
  top: 42.5%;
  height: 19.8447356%;
}
.photoimg4{
  width: 31.558642%;
  height: 100%;
  background-image: url('../images/photo4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.photoimg5{
  width: 31.558642%;
  height: 100%;
  background-image: url('../images/photo5.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.photoimg6{
  width: 31.558642%;
  height: 100%;
  background-image: url('../images/photo6.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.photo2{
  position: absolute;
  width: 46%;
  height: 15%;
  top: 68%;
  left: 4.9%;
  /* background: blue;
  opacity: 0.5; */
}
.photo2 p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: -0.2%;
  top: -0.5%;
  width: 100%;
  line-height: 40px
}
.photoimg7{
  position: relative;
  display: block;
  width: 91.5%;
  height: 28%;
  top: 73.6%;
  left: 4.2%;
  background-image: url('../images/photo7.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
#graphics_container{
  position: relative;
  width: 100%;
  height: 5.99754044%;
  /* background: yellow */
}
#graphics_title{
  position: absolute;
  font-size: 58px;
  font-weight: 700;
  width: 30%;
  top: 8.4%;
  left: 4.7%;
  line-height: 105%;
}
.graphics{
  position: absolute;
  width: 46%;
  height: 21%;
  top: 14.8%;
  left: 4.9%;
  /* background: blue;
  opacity: 0.5; */
}
.graphics p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: -0.2%;
  top: -0.5%;
  width: 100%;
  line-height: 40px
}
.plate_row{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  left: 5%;
  right: 5%;
  top: 45.7%;
  height: 15.2350158%;
  opacity: 0.8;
}
.box1{
  position: relative;
  display: flex;
  width: 10.816421%;
  height: 100%;
  top: 0%;
  left: 0%;
  text-align: center;
  align-items: flex-end;
}
.box1 p{
  display: flex;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}
.plate1{
  position: absolute;
  display: block;
  width: 100%;
  height: 72.5489181%;
  top: 0%;
  left: 0%;
  background-image: url('../images/plate1.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.box2{
  position: relative;
  display: flex;
  width: 10.816421%;
  height: 100%;
  top: 0%;
  left: 0%;
  text-align: center;
  align-items: flex-end;
}
.box2 p{
  display: flex;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}
.plate2{
  position: absolute;
  display: block;
  width: 100%;
  height: 72.5489181%;
  top: 0%;
  left: 0%;
  background-image: url('../images/plate2.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.box3{
  position: relative;
  display: flex;
  width: 10.8719809%;
  height: 100%;
  top: 0%;
  left: 0%;
  text-align: center;
  align-items: flex-end;
}
.box3 p{
  display: flex;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}
.plate3{
  position: absolute;
  display: block;
  width: 100%;
  height: 72.5489181%;
  top: 0%;
  left: 0%;
  background-image: url('../images/plate3.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.box4{
  position: relative;
  display: flex;
  width: 12.0379659%;
  height: 100%;
  top: 0%;
  left: 0%;
  text-align: center;
  align-items: flex-end;
}
.box4 p{
  display: flex;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}
.plate4{
  position: absolute;
  display: block;
  width: 89.8525641%;
  height: 72.5489181%;
  top: 0%;
  left: 5%;
  background-image: url('../images/plate4.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.box5{
  position: relative;
  display: flex;
  width: 10.816431%;
  height: 100%;
  top: 0%;
  left: 0%;
  text-align: center;
  align-items: flex-end;
}
.box5 p{
  display: flex;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}
.plate5{
  position: absolute;
  display: block;
  width: 100%;
  height: 72.5489181%;
  top: 0%;
  left: 0%;
  background-image: url('../images/plate5.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.box6{
  position: relative;
  display: flex;
  width: 11.0348021%;
  height: 100%;
  top: 0%;
  left: 0%;
  text-align: center;
  align-items: flex-end;
}
.box6 p{
  display: flex;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}
.plate6{
  position: absolute;
  display: block;
  width: 100%;
  height: 72.5489181%;
  top: 0%;
  left: 0%;
  background-image: url('../images/plate6.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.patterns_row{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  left: 5%;
  right: 5%;
  top: 52.2%;
  height: 20.3067823%;
}
.pattern1{
  position: relative;
  display: flex;
  width: 31.867284%;
  height: 100%;
  top: 0%;
  left: 0%;
  text-align: center;
  background-image: url('../images/pattern1.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.pattern2{
  position: relative;
  display: flex;
  width: 31.867284%;
  height: 100%;
  top: 0%;
  left: 0%;
  text-align: center;
  background-image: url('../images/pattern2.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.pattern3{
  position: relative;
  display: flex;
  width: 31.867284%;
  height: 100%;
  top: 0%;
  left: 0%;
  text-align: center;
  background-image: url('../images/pattern3.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.patternstext{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  position: absolute;
  width: 46%;
  height: 21%;
  top: 94.2%;
  left: 4.9%;
  line-height: 40px
}

#tone_container{
  position: relative;
  width: 100%;
  height: 1.92507804%;
}
#tone_title{
  position: absolute;
  font-size: 58px;
  font-weight: 700;
  width: 30%;
  top: 26%;
  left: 4.7%;
  line-height: 105%;
}
.tone{
  position: absolute;
  width: 46%;
  height: 50%;
  top: 45.8%;
  left: 4.9%;
  /* background: blue;
  opacity: 0.5; */
}
.tone p{
  font-size: 23px;
  font-weight: normal;
  position: absolute;
  left: -0.2%;
  top: 0%;
  width: 100%;
  line-height: 40px
}
#mockups_container{
  position: relative;
  width: 100%;
  height: 17.7655851%;
}
#mockups_title{
  position: absolute;
  font-size: 58px;
  font-weight: 700;
  width: 30%;
  top: 2.85%;
  left: 4.7%;
  line-height: 105%;
}
.mockups1{
  position: absolute;
  width: 48%;
  height: 1.5%;
  top: 5.1%;
  left: 5%;
  /* background: blue;
  opacity: 0.5; */
}
.mockups1 h2{
  top: -0.55%;
  position: absolute;
  left: -0.55%;
}
.mockupsimg1{
  position: absolute;
  width: 74.6527778%;
  height: 19.403794%;
  top: 7.52%;
  left: 5%;
  background-image: url('../images/mockup1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.mockupsimg2{
  position: absolute;
  width: 74.6527778%;
  height: 18.0487805%;
  top: 27.4%;
  left: 5%;
  background-image: url('../images/mockup2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.mockups2{
  position: absolute;
  width: 20%;
  height: 1.5%;
  top: 48.4%;
  left: 4.9%;
}
.mockups2 h2{
  top: -0.55%;
  position: absolute;
  left: -0.55%;
}
.mockups_row1{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  left: 5%;
  right: 5%;
  top: 50.9%;
  height: 11.4092141%;
}
.mockupsimg3{
  width: 48.9953632%;
  height: 100%;
  background-image: url('../images/mmockup3.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.mockupsimg4{
  width: 48.9953632%;
  height: 100%;
  background-image: url('../images/mmockup4.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.mockups_row2{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  left: 5%;
  right: 5%;
  top: 62.9%;
  height: 10.7859079%;
}
.mockupsimg5{
  width: 48.9953632%;
  height: 100%;
  background-image: url('../images/mmockup9.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.mockupsimg6{
  width: 48.9953632%;
  height: 100%;
  background-image: url('../images/mmockup6.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.mockups_row3{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  left: 5%;
  right: 5%;
  top: 74.29%;
  height: 10.7859079%;
}
.mockupsimg7{
  width: 48.9953632%;
  height: 100%;
  background-image: url('../images/mmockup7.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.mockupsimg8{
  width: 48.9953632%;
  height: 100%;
  background-image: url('../images/mmockup8.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.mockups_row4{
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  left: 5%;
  right: 5%;
  top: 85.5%;
  height: 11.4363144%;
}
.mockupsimg9{
  width: 48.9953632%;
  height: 100%;
  background-image: url('../images/mmockup5.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.mockupsimg10{
  width: 48.9953632%;
  height: 100%;
  background-image: url('../images/mmockup10.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
